/* Base */

body {
	background: url(../img/bg.jpg) repeat 0 0 #fff;
	color: $color-text;
	font: 400 100% $type-sans;  // 16px
}

#center {
	margin: 0 auto;
	max-width: 1140px;
	width: 95%;
}

p {
	line-height: 1.4;  // 21px / 15px
	font-size: .9375em; // 15px / 16px
}

a {
	color: $color-text;
	text-decoration: none;
	transition: all .3s ease-out;
	&:hover,
	&:focus {
		color: #000 !important;
	}
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}