/* Footer */

#footer {
	color: $color-text-light;
	margin: 40px $gutter/2 15px;
	width: $columns6;
	small {
		font: {
			family: $type-serif;
			size: .625em;  // 10px / 16px
		}
	}
}

.footer-right:before {
	content: "\A";
	white-space: pre;
}