/* Respond Mobile */

@media screen and (min-width: 400px) {

	/* Footer */

	#footer small {
			line-height: 32px;
		}

	.footer-left {
		float: left;
	}

	.footer-right {
		float: right;
		&:before {
			content: " ";
		}
	}

} // min-width: 400px



@media screen and (min-width: 500px) {

	/* Header */

	#header h1 {
		width: $columns3;
	}

} // min-width: 500px