/* Respond Tablet */

@media screen and (min-width: 645px) {

	/* Menu */

	#menu {
		li {
			display: inline-block;
			font-size: .8125em; // 13px / 16px
			margin: $gutter-mg;
			text-transform: uppercase;
			width: $columns1;
		}
		a {
			display: block;
			opacity: .4;
		}
		&:hover .current-menu-item a,
		&:focus .current-menu-item a {
			opacity: .7;
		}
		.current-menu-item a,
		.current-menu-item a:hover,
		.current-menu-item a:focus,
		a:hover,
		a:focus {
			opacity: 1;
		}
	}

	[data-icon] {
		font-size: 3.53846153846154em;  // 46px / 13px
		text-transform: uppercase;
		&:after {
			content: "\A";
			white-space: pre;
		}
	}


	/* Content */

	.content {
		float: right;
		width: $columns4;
	}


	/* Sidebar */

	.title,
	.sidebar {
		float: left;
		width: $columns2;
	}


	/* Footer */

	#footer {
		margin: 40px $gutter/2 15px $columns2+($gutter/2)*3;
		width: $columns4;
	}

} // min-width: 645px



@media screen and (min-width: 700px) {

	/* Menu */

	#menu li {
		font-size: .875em; // 14px / 16px
	}

	[data-icon] {
		font-size: 4em;  // 56px / 14px
	}

} // min-width: 700px



@media screen and (min-width: 800px) {

	/* Menu */

	#menu li {
		font-size: 1em; // 16px
	}

	[data-icon] {
		font-size: 4.75em;  // 76px / 16px
	}

} // min-width: 800px