// # DESIGN GUIDES #
// =================
// Max Width: 1140px
// Columns: 6
// Column Width: 160px
// Gutter Width: 30px
// Font Size:   15px - .9375em (from 16px)
// Line Height: 21px - 1.4em (from 15px)


// Colors
$color-text:        rgb(65,65,65);    // Dark Grey
$color-text-light:  rgb(195,195,195); // Light Grey
$color-autora:      rgb(140,195,75);  // Light Green
$color-entrevistes: rgb(75,135,195);  // Darkish Blue
$color-llibres:     rgb(235,175,45);  // Yellowish Orange
$color-articles:    rgb(195,75,130);  // Magenta
$color-videos:      rgb(75,185,195);  // Greenish Light Blue
$color-mes-sobre:   rgb(195,75,75);   // Red

// Columns
$columns1:  14.035087719298%; // 160px / 1140px
$columns2:  30.701754385965%; // 350px / 1140px
$columns3:  47.368421052632%; // 540px / 1140px
$columns4:  64.035087719298%; // 730px / 1140px
$columns5:  80.701754385965%; // 920px / 1140px
$columns6:  97.368421052632%; // 1110px / 1140px
$gutter:    2.631578947368%;  // 30px / 1140px
$gutter-mg: 0 $gutter/2;
$max-width: 1140px;

// Type
$type-serif: Arvo, serif;
$type-sans:  "Open Sans", sans-serif;