/* Fonts */

@mixin font-face($font-family, $file-name, $font-weight, $font-style: normal) {
	@font-face {
		font-family: $font-family;
		src: url("fonts/#{$file-name}.eot"),
		     url("fonts/#{$file-name}.eot?#iefix") format("embedded-opentype"),
		     url("fonts/#{$file-name}.woff") format("woff"),
		     url("fonts/#{$file-name}.ttf")  format("truetype");
		font-weight: $font-weight;
		font-style: $font-style;
	}
}

@include font-face("Arvo", "arvo", 400);
@include font-face("Arvo", "arvo-bold", 700);
@include font-face("Open Sans", "opensans", 400);
@include font-face("Open Sans", "opensans-italic", 400, italic);
@include font-face("Open Sans", "opensans-semibold", 600);
@include font-face("Open Sans", "opensans-bold", 700);
@include font-face("Open Sans", "opensans-bolditalic", 700, italic);