// # DESIGN GUIDES #
// =================
// Max Width: 1440px
// Columns: 6
// Column Width: 210px
// Gutter Width: 30px
// Font Size:   15px - .9375em (from 16px)
// Line Height: 21px - 1.4em (from 15px)


// Colors
$color-text:        rgb(65,65,65);    // Dark Grey
$color-text-light:  rgb(180,180,180); // Light Grey
$color-autora:      rgb(140,195,75);  // Light Green
$color-entrevistes: rgb(75,135,195);  // Darkish Blue
$color-llibres:     rgb(235,175,45);  // Yellowish Orange
$color-articles:    rgb(195,75,130);  // Magenta
$color-videos:      rgb(75,185,195);  // Greenish Light Blue
$color-mes-sobre:   rgb(195,75,75);   // Red

// Columns
$columns1:  210%/1440*100;
$columns2:  450%/1440*100;
$columns3:  690%/1440*100;
$columns4:  930%/1440*100;
$columns5:  1170%/1440*100;
$columns6:  1410%/1440*100;
$gutter:    30%/1440*100;
$gutter-mg: 0 $gutter/2;
$max-width: 1440px;

// Typography
$type-serif: Arvo, serif;
$type-sans:  "Open Sans", sans-serif;

// Arrays
$colors: 'autora' $color-autora,
         'entrevistes' $color-entrevistes,
         'llibres' $color-llibres,
         'articles' $color-articles,
         'videos' $color-videos,
         'mes-sobre' $color-mes-sobre;