*.log
/index.php
web carme/
wp-content/backups
wp-content/cache
wp-content/languages
wp-content/plugins/advanced-custom-fields
wp-content/plugins/mp6
wp-content/plugins/wordpress-seo
wp-content/plugins/wp-retina-2x
wp-content/plugins/index.php
wp-content/themes/twentythirteen
wp-content/themes/index.php
wp-content/index.php
wp-content/upgrade
wp-content/uploads
wp-admin
wp-includes
wp-*.php
xmlrpc.php