/* Sidebar */

.title-block,
.sidebar {
	margin: $gutter-mg;
	width: $columns6;
	@media (min-width: 645px) {
		float: left;
		width: $columns2;
	}
}

.title-block {
	margin-bottom: 15px;
}

.sidebar {
	margin-top: 15px;
}

.sidebar-img {
	max-width: 100%;
}