/* Footer */

.footer {
	color: $color-text-light;
	float: right;
	margin: 30px $gutter/2 15px;
	width: $columns6;
	small {
		font: {
			family: $type-serif;
			size: .75em; // 12px / 16px
		}
		@media (min-width: 400px) {
			line-height: 32px;
		}
	}
	@media (min-width: 600px) {
		margin-left: $columns2+($gutter/2)*3;
		overflow: hidden;
		width: $columns4;
		.front-page & {
			float: none;
			margin: 30px $gutter/2 15px;
			width: $columns6;
		}
	}
}

@media (min-width: 400px) {
	.footer-left {
		float: left;
	}
}

.footer-right {
	&:before {
		content: "\A";
		white-space: pre;
	}
	@media (min-width: 400px) {
		float: right;
		&:before {
			content: " ";
		}
	}
}