/* Fonts */

@font-face {
	font-family: "Arvo";
	src: url(fonts/arvo.eot);
	src: url(fonts/arvo.eot?#iefix) format("embedded-opentype"),
	     url(fonts/arvo.woff) format("woff"),
	     url(fonts/arvo.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Arvo";
	src: url(fonts/arvo-bold.eot);
	src: url(fonts/arvo-bold.eot?#iefix) format("embedded-opentype"),
	     url(fonts/arvo-bold.woff) format("woff"),
	     url(fonts/arvo-bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/opensans.eot);
	src: url(fonts/opensans.eot?#iefix) format("embedded-opentype"),
	     url(fonts/opensans.woff) format("woff"),
	     url(fonts/opensans.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/opensans-italic.eot);
	src: url(fonts/opensans-italic.eot?#iefix) format("embedded-opentype"),
	     url(fonts/opensans-italic.woff) format("woff"),
	     url(fonts/opensans-italic.ttf) format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/opensans-semibold.eot);
	src: url(fonts/opensans-semibold.eot?#iefix) format("embedded-opentype"),
	     url(fonts/opensans-semibold.woff) format("woff"),
	     url(fonts/opensans-semibold.ttf) format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/opensans-bold.eot);
	src: url(fonts/opensans-bold.eot?#iefix) format("embedded-opentype"),
	     url(fonts/opensans-bold.woff) format("woff"),
	     url(fonts/opensans-bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(fonts/opensans-bolditalic.eot);
	src: url(fonts/opensans-bolditalic.eot?#iefix) format("embedded-opentype"),
	     url(fonts/opensans-bolditalic.woff) format("woff"),
	     url(fonts/opensans-bolditalic.ttf) format("truetype");
	font-weight: 700;
	font-style: italic;
}