/* Header */

.header {
	margin: 0 0 40px;
	img {
		max-width: 100%;
	}
}

.site-title {
	display: block;
	margin: 20px auto;
	text-align: center;
	width: $columns4;
	@media (min-width: 500px) {
		width: $columns3;
	}
}