/* Content */

p {
	line-height: 1.4; // 21px / 15px
	font-size: .9375em; // 15px / 16px
}

a {
	color: $color-text;
	text-decoration: none;
	@include transition(all .3s ease-out);
	&:hover,
	&:focus {
		color: #000;
	}
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

hr {
	background-color: $color-text-light;
	height: 1px;
	margin: 20px 10%;
	width: 80%;
}

.title,
.subsubtitle {
	font-family: $type-serif;
}

.title {
	font: {
		size: 3em;  // 48px / 16px
		weight: 700;
	}
	line-height: 1;
}

.subtitle {
	font: {
		size: 2.3125em;  // 37px / 16px
		weight: 600;
	}
	line-height: 1.13513513513514;  // 42px / 37px
	margin-top: 15px;
}

.subsubtitle {
	color: $color-text-light;
	font-size: 1.625em;  // 26px / 16px
	line-height: 1.38461538461538;  // 36px / 26px
}

.content {
	margin: $gutter-mg;
	width: $columns6;
	p {
		margin-top: 26px;
		+ p {
			margin-top: 1em;
		}
	}
	@media (min-width: 645px) {
		float: right;
		width: $columns4;
	}
}